{# src/Blogger/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'EnricoBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock%}

{% block body %}
    <header>
        <h1>About Enricoblog</h1>
    </header>
    <article>
        <p>Blog creato seguendo il tutorial "symblog" dopodiche sono state fatte alcune modifiche
		come l'aggiunta di una pagina di amministrazione ,naturalmente preceduta da una pagina di login per l'accesso controllato,
		dove poter editare cancellare correggere sia i blog che i commenti
        fatte altre piccole modifiche come cambiare la data in formato italiano cambiare il countdown dei commenti nella barra laterale
        anche questo in formato italiano l'ingrandimento della foto nella pagina di continua a leggere</p>
    </article>
{% endblock %}
