{% extends 'EnricoBlogBundle::layout.html.twig' %}

{% block title %}nuovo_blog{% endblock%}

{% block body %}
    <header>
        <h1>Qui imposti il nuovo blog</h1>
    </header>

    <p>Fine</p>
{% endblock %}
